.board-register .banniere{
    display: block;
    width: 100%;
    height: 40%;
    max-width: 100%;
    max-height: 40%;
  }
  
  .board-register .banniere img{
    width: 100%;
    height: 20%;
  }